/* You can add global styles to this file, and also import other style files */
/*violet white*/
/*@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';*/
/*blue white*/
/*@import '~@angular/material/prebuilt-themes/indigo-pink.css';*/
/*dark*/
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
/*@import '~@angular/material/prebuilt-themes/purple-green.css';*/


/*@import '~@angular/material/theming';*/




body {

  margin: 0;
  text-rendering: optimizeLegibility
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Orbitron', Roboto, Arial, sans-serif;
}
